{# SPDX-FileCopyrightText: 2026 PythonWoods <dev@pythonwoods.dev> #}
{# SPDX-License-Identifier: Apache-2.0 #}
{% extends "base.html" %}

{% block content %}
<div class="zz-homepage">
  {% include "components/homepage/hero.html" %}

  <div class="zz-divider"><span>// EXECUTION_LAYER</span></div>
  {% include "components/homepage/terminal.html" %}

  <div class="zz-divider"><span>// FAILURE_TOPOLOGY</span></div>
  {% include "components/homepage/features.html" %}

  <div class="zz-divider"><span>// ADAPTER_SURFACE</span></div>
  {% include "components/homepage/ledger.html" %}
</div>
{% endblock %}
